.container{
    display: flex;
    padding: 2em;
    margin: 1em;
    border-radius: 0.2em;
    background-color: #fff;
    border: 1px solid #333;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}